body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.title {
    text-align: center;
    color: #009129;
    font-size: 49px;
    margin-bottom: 20px;
    font-family: 'MS Serif'
}

.inp {
    text-align: center;
    margin-bottom: 20px;
}

.timeco {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#time {
    font-size: 24px;
    font-weight: bold;
}

.inp input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left; 
}

th {
    background-color: #009129;;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0e0e0;
}

.no {
    color: red;
    font-weight: bold;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.arrow-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.arrow-button:hover {
    background-color: #45a049;
}

.video {
    cursor: pointer;
}

nav {
    background-color: #f0f0f0;
    padding: 10px 0;
    border-top: 2px solid #333; 
    border-bottom: 2px solid #333; 
}

nav ul {
    list-style: none; 
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none; 
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid #4CAF50;
    border-radius: 3px;
    background-color: #ffffff;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #4CAF50;
    color: white;
}
